@font-face {
  font-family: 'KopubDotumLight';
  src: url('../fonts/KopubDotumLight.ttf') format('truetype');
}

@font-face {
  font-family: 'KoPubDotumMedium';
  src: url('../fonts/KoPubDotumMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'KoPubDotumBold';
  src: url('../fonts/KoPubDotumBold.ttf') format('truetype');
}

@font-face {
  font-family: 'D2Coding';
  src: url('../fonts/D2Coding.ttc');
}