.site-main .inner {
  margin-left: 18em;
}

.post-feed {
  position: relative;
  flex-wrap: wrap;
  margin: 0 -20px;
  padding: 40px 0 0 0;
}

.post-list {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 20px;
  min-height: 300px;
  background: $white center center;
  background-size: cover;

  >a {
    text-decoration: none;
  }

  // TODO(gayeon): Increase readability.
  .image {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    width: auto;
    min-height:300px;
    background: $light-gray no-repeat center center;
    background-size: cover;
    transition: all 2s ease;

    &:hover {
      transition: all 2s ease;
      opacity: .7;
      .title {
        transition: all 2s ease;
        color: $pink;
      }
    }
  }

  .content {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 120px;
    color: $dark-gray;

    >header {
      margin: auto;
    }

    .tags {
      display: block;
      margin-bottom: 4px;
      color: $gray;
      font-size: 1.2rem;
      line-height: 1.15em;
      font-weight: 500;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }

    .title {
      margin-top: 0;
      transition: all 2s ease;
      font-family: $accent-font;
    }
  }
}

.pagination {
  min-height: fit-content;
  text-align: center;
  margin: 3em;
  a {
    text-decoration: none;
    font-size: $unit * 1.2;
  }

  .number {
    color: $gray;
  }

  .cur-number {
    color: $pink;
  }
}